@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
}

.tip {
  border-left: .25rem solid #dfe2e5;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
blockquote {
  border-left: .25rem solid #dfe2e5;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1rem;
  list-style-type: disc;
}



ul li a {
  text-decoration underline;
}

.custom-block-title {
  font-size: 1.5rem;
}



@css {
  a {
    @apply text-blue-500;
  }
  p {
    @apply mt-2 mb-2
  }
  pre {
    @apply p-4 text-gray-100 rounded bg-blue-900 mb-2
  }

  h1 {
    @apply pb-2 m-0 mt-8 font-light font-bold text-2xl
  }

  h2 {
    @apply pb-2 m-0 mt-8 font-light font-bold text-xl
  }
  h3 {
    @apply pb-2 m-0 mt-4 font-light text-lg
  }
  .time {
    @apply text-sm bg-green-900 rounded text-gray-100 py-1 px-2 ml-1
  }

  img {
    @apply rounded shadow
  }
  .job {
    @apply p-4 text-gray-100 rounded bg-blue-900 mb-2;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  }
}